$list-font-size: 1em;

.content {
  display: flex;
  flex-flow: column;
  justify-content: center;

  mat-card {
    margin: 30px 20px 0;
  }

  .person {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;

    img {
      width: 5em;
      height: 5em;
      border-radius: 50%;
      margin-right: 15px;
    }

    .name {
      display: flex;
      flex-flow: column;

      h1 {
        width: fit-content;
        font-size: 1.75em;
        text-transform: capitalize;
        font-weight: 400;
        margin: 0;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .attributes {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    ul {

      li {
        display: flex;
        flex-flow: row;
        align-items: center;
        font-size: $list-font-size;
        text-transform: capitalize;

        margin-bottom: 10px;

        img {
          height: $list-font-size;
          margin-right: 5px;
        }
      }
    }
  }

  .contact {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;

    ul {
      margin-bottom: -10px;

      li {
        display: flex;
        flex-flow: row;
        align-items: center;

        height: 1.5em;
        font-size: 1em;
        cursor: pointer;

        margin-bottom: 10px;

        button, a {
          display: flex;
          flex-flow: row;
          justify-content: flex-start;
          align-items: center;

          width: 100%;

          font-weight: normal;
          font-size: inherit;
          text-decoration: none;
          color: inherit;

          padding: 0;
        }

        .mdi {
          font-size: 1.5em;
          margin-right: 5px;
        }
      }
    }
  }
}
