<mat-toolbar color="primary">
  <span class="fill-mid-space"></span>

  <div class="toolbar-icons">
    <a href="https://github.com/OrangeDrangon" target="_blank" rel="noreferrer">
      <button class="icon" mat-icon-button>
        <span class="mdi mdi-github-circle"></span>
      </button>
    </a>
    <a (click)="openSnackbarPhone()">
      <button class="icon" mat-icon-button>
        <span class="mdi mdi-phone"></span>
      </button>
    </a>
    <a (click)="openSnackbarEmail()">
      <button class="icon" mat-icon-button>
        <span class="mdi mdi-email-open"></span>
      </button>
    </a>
  </div>
</mat-toolbar>
